<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MatchWithCoreData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A523A4E1B3AF579002AF080</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A523A651B3AF57A002AF080</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A523A701B3AF57A002AF080</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
